body {
  text-align: center;
  background-color: sandybrown;
  
}
p {

  font-size: x-large;
  align-content: center;
  
}
.flashy {
  color: aliceblue;
}
.best {
  border-radius: 25%;
  
  
}
.hugecontent {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-style: italic;
}
ol {
  font-size: xx-large;
}